/* Body is given a nice gradient to match comic books */
body {
    height: 100%;
    background: white!important;
    background-repeat: no-repeat;
    font-style: san-serif;
}

img {
    height: 325px;
}

.row {
    margin-bottom: 20px;
}
.sale {
    text-decoration: line-through;
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(15, 11, 66);
}


hr {
    background-color: rgb(255, 0, 0);
    height: 1px;
}

.card-info {
    text-transform: uppercase;
    text-align: center;
}

.card-title {
    font-size: small;
}

.card {
    margin-bottom: 10px;
    width: 14rem;
    margin: 0 auto;
 
}


@media (max-width:600px) 
{
    .card {
        width: 100%;
        height: auto;
    }
   .card-body span {
       font-size: small;
   }
}

